# Bytecode
__pycache__/
*.py[cod]

# Virtual environments
.env/
venv/
.venv/

# Logs and caches
*.log
*.sqlite3
*.db
*.pid
*.pyc
.cache/
*.cover
coverage.xml

# Testing
.pytest_cache/
.tox/

# IDE/editor settings
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/
